<h2>Login if you have an account</h2>
<form action="/users/login" method="POST">
	<label>Email: </label>
	<input type="email" name="email" placeholder="jom@jom.com"><br>
	<label>Password: </label>
	<input type="password" name="password"><br>
	<input type="submit" value="Login">
</form>