<h1>User Profile</h1>

<% byebug %>

Name: <%= @user.name %><br>
Email: <%= @user.email %><br>

<a href="/users/<%= @user.id %>/edit">
<Button>Edit Profile</Button>
</a>

<a href="/users/logout">
<Button>Logout</Button>
</a>