<h1>Post a new property to rent</h1>

<form action="/properties" method="POST">
	<label><b>Property Details: </b></label><br>
	<label>Name of property: </label>
	<input type="text" name="title" placeholder="Mutiara Condo"><br>
	<label>Price per month: </label>
	<input type="number" name="price" placeholder="2000"><br>
	<label>Location: </label>
	<input type="text" name="location" placeholder="Damansara Perdana"><br>	
	<input type="submit" value="Post it">
</form>