<h1><%= @property.title %></h1>
by <%= @property.user.name%><br>

<a href="/properties/<%= @property.id %>/edit">
<button>Edit property</button>
</a>

<form action="/properties/<%= @property.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete">
</form>